/******************
issues:
- color codes are grabbed from pdf, don't seem to be accurate 
- not sure if Opan Sans is the correct font
- no design guideline to follow for mobile 
- no design guideline for background image
- the pink horizontal line between the text is not positioned precisely as in the image. Not sure what design guideline is followed here 
*******************/

/* presets starts */
:root {
  /*  color variables might not be necessary fot this simple page, but those look like recurring colors for a site so set them here */
  --purple: #463d63;
  --green: #619799;
  --pink: #f1485f;
  --font-color: #faf6fa; /* only one font color on this page */
  --square-size: 60vw; /* used as unit for defining box size. can be redefined in each media query */
  --grid-gap: 20px;
}
* {
  margin: 0 auto;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  text-align: center;
  color: var(--font-color);
}
.bg-purple {
  background-color: var(--purple);
}
.bg-green {
  background-color: var(--green);
}
.bg-pink {
  background-color: var(--pink);
}
.fix-left {
  position: absolute;
  left: 0;
  margin-left: 0;
}
.hori-line {
  /* for the case of using a div as a horizontal line. there is only one such case on this page but could be more on other pages. use div cuz it's easier to animate if needed */
  height: 3px;
  width: 13ch;
}
.weight-regular *, /* if most text inside their parent element has the same font weight, define font weight on the parent to spare tying in html. The * is needed to overwrite UA default settings */
.weight-regular {
  font-weight: 400;
}
.weight-medium *,
.weight-medium {
  font-weight: 600;
}
.weight-bold *,
.weight-bold {
  font-weight: 700;
}
.size-small *,
.size-small {
  font-size: 16px;
}
.size-medium *,
.size-medium {
  font-size: 19px;
}
.size-large *,
.size-large {
  font-size: 43px;
}

/* presets end */

body {
  background-image: url(img/bg-mobile.jpg);
  background-size: auto 100%;
  background-repeat: no-repeat;
  padding: 40px 4vw; /* don't know what design guide is followed here, settings based on image */
}
body::before {
  /* the purple tone covering the bg image */
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--purple);
  opacity: 0.3;
  left: 0;
  top: 0;
}
main {
  width: 100%;
}
nav {
  display: flex;
}
ul {
  width: 100%;
  height: 40px;
  overflow: hidden;
  text-align: right;
  list-style: none;
}
ul.expand {
  height: auto;
  overflow: visible;
  background-color: rgba(
    255,
    255,
    255,
    0.1
  ); /* no design guide to follow, introduced a new color */
}
#burger {
  margin-right: 20px;
  cursor: pointer;
}
li {
  line-height: 40px;
  white-space: nowrap;
  cursor: pointer;
}
li:last-of-type {
  padding: 13px 40px;
}
li:not(:first-of-type) {
  top: 40px;
}
h1 {
  width: 90%;
  line-height: 1.2em;
}
section {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: var(--grid-gap);
}
section.heading {
  padding: 50px 7vw 14vw 7vw; /* the bottom part is a temp solution. use vw as unit to maintain sizing relationship to the bg image, which is set to have 100vw width. 14 is used to to make room for the bridge in the bg image so that the squares won't cover them. not ideal for super wide screen */
}
section.squares > * {
  height: var(--square-size);
  width: var(--square-size);
  display: flex;
  padding: 30px;
}
section.squares > * > div {
  width: 100%;
  align-self: center;
  top: -25px; /* since the absolute positioned h2 is taken out of this parent div, need to offset this 'center' cuz otherwise the icon is center aligned, together with the h2 below, it will look like the content is closer to the bottom */
  margin: 0;
}
h2 {
  position: absolute; /* make sure the text underneath each icon are horizontally aligned */
  width: 100%; /* makes sure text is center aligned */
  line-height: 18px;
}
img {
  height: calc(
    var(--square-size) / 4
  ); /* set height instead of width and together with h2's position absolute to make sure the text underneath each icon are horizontally aligned */
  width: auto;
  margin-bottom: 10%;
}
@media screen and (min-width: 768px) {
  :root {
    --square-size: 23vw;
  }
  .hide-on-mobile {
    display: none;
  }
  body {
    background-image: url(img/bg.jpg);
    background-size: 100% auto;
  }
  ul,
  ul.expand {
    height: 40px;
    overflow: visible;
    background-color: transparent;
  }
  li {
    display: inline;
    line-height: 2em;
    margin-left: 25px;
  }
  li:not(:first-of-type) {
    top: 0;
  }
  h1 {
    width: 22ch;
  }
  section.squares {
    grid-template-columns: repeat(3, var(--square-size));
    width: calc(3 * var(--square-size) + 2 * var(--grid-gap));
  }
}
